.card{
    margin-top: 5%;
    padding-bottom: 20%;
}
#wave{
   margin-top: 100%;
}

#medt{
    margin-top: 300px;
    margin-left: 40%;
}
#nwtk{
    margin-top: 40px;
    margin-left: 40%;
}
#h1{
    margin-top: 200px;
    margin-left: 100px;
}
#p{
    margin-top: 30px;
    margin-left: 100px;
}
#wave{
    margin-top: 0;

}